
$breakpoint-width: 400px;

@mixin focus-outline {
    outline: none;

    &:focus {
        box-shadow: inset 0 0 2px 0 #b0b0b0;
    }
}

@mixin std-button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    @include focus-outline;
}

@mixin color-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    width: 18em;
    border: none;
    border-radius: .3em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);
}

@mixin color-input-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;

    & span {
        width: 3em;
        margin-right: 1em;
        flex-grow: 1;
        text-align: right;
        color: #999999;
    }
}

@mixin color-input-input {
    width: 3.5em;
    height: 1.7em;
    border: none;
    text-align: center;

    &--no-side-border {
        border-left: none;
        border-right: none;
    }
}

@mixin color-fit-wrapper {
    width: 3em;
    height: 3em;
    border-radius: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin page-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(240, 240, 240, .8);
    visibility: collapse;
    opacity: 0;
    transition: opacity ease .2s;

    &--visible {
        visibility: visible;
        opacity: 1;
    }
}

@mixin scheme-description-input-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    width: 18em;
    border: solid 2px transparent;
    border-radius: .3em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);

    span {
        width: 3em;
        margin-right: .5em;
        flex-grow: 1;
        text-align: right;
        color: #999999;
    }
}


@mixin side-bar-more-icon {
    width: 1em;
    height: 1em;
    transition: transform ease .2s;
    margin-right: .5em;

    .dropdown-line {
        stroke-width: 1;
    }
}

@mixin width-wrapper {
    width: clamp(19em, 90vw, 31em);
}