@import 'shared';

.color-info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include width-wrapper;
    padding-top: 1em;
}

.color-info__disabled-info {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2em 0 0 0;
    color: #999999;
    background-color: #fafafa;
    gap: 1em;

    img {
        opacity: .1;
    }
}

.color-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &--hidden {
        display: none;
    }
}

.color-info__image-section {
    position: relative;
    margin: .5em 0;

    &--hidden {
        height: 0;
    }
}

.color-info__color-section {
    width: 100%;
}

.color-info__view {
    background-color: #fafafa;
    display: grid;
    grid-template-columns: minmax(auto, 4em) minmax(auto, 11em) 12em;
    grid-template-rows: 3em;
    grid-template-areas: "switch color hex";
    align-items: center;
    padding: .5em 1em;


    @media (max-device-width: $breakpoint-width) {
        grid-template-columns: auto minmax(auto, 8em) 10em;
    }

    &--full {
        grid-template-columns: minmax(auto, 8em) 19em;
        grid-template-rows: 3em 2em 2.5em 2em auto auto;
        grid-template-areas: "switch hex" "color rgb" "color hsl" "color name" "bars bars" "fit fit";
        justify-items: center;

        @media (max-device-width: $breakpoint-width) {
            grid-template-columns: auto minmax(10em,1fr);
            grid-template-rows: 2em 4em 2em 2.5em 2em auto auto;
            grid-template-areas: "switch hex" "color color" "rgb rgb" "hsl hsl" "name name" "bars bars" "fit fit";
            justify-items: center;
        }
    }
}

.color-info__color-sample {
    grid-area: color;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: none;
    outline: none;
    padding: 0;
    height: 2em;
    margin: 0 2em;
    border-radius: .3em;
    cursor: pointer;

    &--hidden {
        display: none;
    }

    &:hover .color-info__color-change {
        background-color: rgba(255, 255, 255, .3);
    }

    @media (max-device-width: $breakpoint-width) {
        margin: 0 1em;
    }
}

.color-info__color-change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: transparent;
}

.color-info__color-big-sample {
    @extend .color-info__color-sample;
    justify-self: start;
    height: 6em;
    width: 80%;
    max-width: 6em;
    border-radius: .7em;
    margin: 0 1em 0 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    cursor: pointer;

    & .color-info__color-change {
        border-radius: .5em 0 0 0;
    }

    @media (max-device-width: $breakpoint-width) {
        height: 2em;
        max-width: none;
        width: 90%;
        margin: 0;
        justify-self: center;
    }
}

.color-info__switch-view {
    @include std-button;
    grid-area: switch;
    height: 2em;
    width: 2em;
    justify-self: start;
    border-radius: 50%;
    transition: transform ease .2s;

    &:hover {
        background-color: #e5e5e5;
    }

    &--full {
        transform: rotate(180deg);
    }
}

.color-info__color-fit {
    grid-area: fit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 1.5em;
}

.color-info__color-fit-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 1em 0;
}

.color-fit-text__wrapper {
    @include color-fit-wrapper
}

.color-fit-border__wrapper {
    @include color-fit-wrapper
}

.color-fit-border__border {
    width: 1.5em;
    height: 1.5em;
    border-width: 1px;
    border-style: solid;
}

.color-info__color-bars {
    grid-area: bars;
    justify-self: stretch;
    margin-top: 1em;

    @media (max-device-width: $breakpoint-width) {
        display: flex;
        justify-content: center;
    }
}

.color-bar__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: .5em 0;

    @media (max-device-width: $breakpoint-width) {
        flex-direction: column;
        align-items: flex-start;
        gap: .5em;
    }
}

.color-bar__item {
    @media (max-device-width: $breakpoint-width) {
        display: flex;
        align-items: center;
    }
}

.color-bar__color {
    width: 2em;
    height: 2em;
    grid-row-end: 1;
    cursor: pointer;
    border: none;
    transition: transform .2s ease;

    &--selected {
        transform: scale(1.1);
        border-radius: .2em;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    }
}

.color-bar__label {
    grid-row-start: 1;
    font-size: .8em;
    text-align: center;
    margin-top: .2em;

    &--selected {
        font-weight: bold;
    }

    @media (max-device-width: $breakpoint-width) {
        margin-left: .5em;
        margin-right: 1.5em;
    }
}

.color-selection__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.color-selection__type-wrapper {
    position: relative;
}

.color-selection__button {
    position: relative;
    @include std-button;
    background-color: #fafafa;
    border-radius: .3em;
    height: 2em;
    width: 5em;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, .05);

    &:hover {
        background-color: #f0f0f0;
    }

    &:active {
        transform: scale(.9);
    }

    &--file {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: #666666;
        display: flex;
        justify-content: center;
        align-items: center;


        span {
            margin-left: .5em;
        }
    }

    &--selected {
        background-color: #ffffff;
    }
}

.color-selection__list {
    position: absolute;
    z-index: 45;
    top: 1em;
    left: 0;
    list-style: none;
    padding: 0;
    color: #666666;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);
}

.color-selection__list-item {
    background-color: #ffffff;

    &:hover {
        background-color: #f0f0f0;
    }
}

.color-selection__list-button {
    @include std-button;
    width: 10em;
    padding: .5em;
    display: flex;
    align-items: center;

    img {
        margin-right: .8em;
    }
}

.color-selection__file-wrapper {
    position: relative;
    overflow: hidden;
    width: 2em;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.color-selection__file-label {
    @include std-button;
    color: #666666;
    display: block;
    position: relative;
    line-height: 1.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-right: .5em;
    }
}

.color-selection__file-input {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
}

.color-selection__list-mask {
    z-index: 40;
    @include page-mask;
}
