@import 'shared';

.image-preview__wrapper {
    margin-top: 2em;
}

.image-preview__image {
}

.image-preview__details-view {
    z-index: 11;
    position: fixed;
    top: 0;
    right: 0;
    width: 5em;
    height: 5em;
    border-radius: 50%;

    &--hidden {
        visibility: collapse;
    }
}

.image-preview__footer {
    position: relative;
}

.image-preview__options {
    position: absolute;
    top: -.25em;
    display: flex;
}

.image-preview__option {
    @include std-button;
    background-color: #fafafa;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .05);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25em;
    width: 3em;
    border-radius: 0 0 .3em .3em;

    input {
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    img {
        opacity: .8;
    }

    &:hover {
        background-color: #e5e5e5;

        img {
            opacity: 1;
        }
    }

    &--active {
        background-color: #ffffff;
        border: solid 1px #e5e5e5;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .1);

        img {
            transform: scale(.8);
            opacity: 1;
        }
    }
}
