@import 'shared';

input {
    @include focus-outline;
}

.button-copy__button {
    @include std-button;
    width: 3em;
    height: 1.7em;
    border-radius: 0 .3em .3em 0;
    background-color: #fcfcfc;

    &:hover {
        background-color: #e5e5e5;
    }

    &:active {
        .button-copy__icon {
            transform: scale(.8);
        }
    }
}

.button-copy__icon {
    vertical-align: middle;
    transition: transform .1s;
}

.input-hex__wrapper {
    grid-area: hex;
    @include color-input-wrapper;

    @media (max-device-width: $breakpoint-width) {
        justify-self: stretch;
        width: auto;
        max-width: 16em;
    }

    &--auto {
        width: auto;
    }
}

.input-hex__label {
    @include color-input-label;

    span {
        flex-grow: 0;
        width: 3.5em;
    }

    &--hidden span {
        display: none;
    }
}

.input-hex__input {
    @include color-input-input;
    flex-grow: 1;

    &--bold {
        font-weight: bold;
    }
}

.input-hsl__wrapper {
    grid-area: hsl;
    @include color-input-wrapper;
}

.input-hsl__label {
    @include color-input-label;
}

.input-hsl__input {
    @include color-input-input;
}

.input-rgb__wrapper {
    grid-area: rgb;
    @include color-input-wrapper;
}

.input-rgb__label {
    @include color-input-label;
}

.input-rgb__input {
    @include color-input-input;
}

.input-name__wrapper {
    grid-area: name;
    @include color-input-wrapper;
}

.input-name__label {
    @include color-input-label;
}

.input-name__input {
    @include color-input-input;
    width: 10.5em;
    background-color: #ffffff;
}
