@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    display: none;
    left: 0;
    padding: .6rem 1.25rem .7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;

    & .dismiss {
        cursor: pointer;
        position: absolute;
        right: .75rem;
        top: .5rem;
    }
}

@mixin focus-outline {
    outline: none;

    &:focus {
        box-shadow: inset 0 0 2px 0 #b0b0b0;
    }
}

input {
    @include focus-outline;
}

@mixin std-button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    @include focus-outline;
}

.button-copy__button {
    @include std-button;
    width: 3em;
    height: 1.7em;
    border-radius: 0 .3em .3em 0;
    background-color: #fcfcfc;

    &:hover {
        background-color: #e5e5e5;
    }

    &:active {
        /* background-color: #F5F5F5;
        border: solid 1px #E5E5E5;*/
        .button-copy__icon {
            transform: scale(.8);
        }
    }
}

.button-copy__icon {
    vertical-align: middle;
    transition: transform .1s;
}

@mixin color-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    width: 18em;
    border: none;
    border-radius: .3em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);
}

@mixin color-input-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;

    & span {
        width: 3em;
        margin-right: 1em;
        flex-grow: 1;
        text-align: right;
        color: #999999;
    }
}

@mixin color-input-input {
    width: 3.5em;
    height: 1.7em;
    border: none;
    text-align: center;

    &--no-side-border {
        border-left: none;
        border-right: none;
    }
}

.input-hex__wrapper {
    @include color-input-wrapper;
    width: auto;
}

.input-hex__label {
    @include color-input-label;
    width: 3.5em;

    &--hidden span {
        display: none;
    }
}

.input-hex__input {
    @include color-input-input;
    width: 7.5em;

    &--bold {
        font-weight: bold;
    }
}

.input-hsl__wrapper {
    @include color-input-wrapper;
}

.input-hsl__label {
    @include color-input-label;
}

.input-hsl__input {
    @include color-input-input;
}

.input-rgb__wrapper {
    @include color-input-wrapper;
}

.input-rgb__label {
    @include color-input-label;
}

.input-rgb__input {
    @include color-input-input;
}

.input-name__wrapper {
    @include color-input-wrapper;
}

.input-name__label {
    @include color-input-label;
}

.input-name__input {
    @include color-input-input;
    width: 10.5em;
    background-color: #ffffff;
}


.color-info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}

.color-info__basic-view {
    display: grid;
    grid-template-columns: minmax(auto, 4.5em) minmax(auto, 7.5em) 10.5em auto;
    align-items: center;
    padding: 1em;

    &--full {
        grid-template-columns: minmax(auto, 7.5em) 15em auto;
    }
}

.color-info__full-view {
    display: grid;
    grid-template-columns: minmax(auto, 7.5em) 2fr;
    grid-template-rows: 2em 2.5em 2em;
    align-items: center;
    padding: 1em;
}

.color-info__color-sample {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: none;
    outline: none;
    padding: 0;
    max-width: 6em;
    height: 2em;
    margin: 0 1.5em 0 0;
    border-radius: .3em;
    cursor: pointer;

    &--hidden {
        display: none;
    }

    &:hover .color-info__color-change {
        background-color: rgba(255, 255, 255, .3);
    }
}

.color-info__color-change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: transparent;

    &:hover {
    }
}

.color-info__color-big-sample {
    @extend .color-info__color-sample;
    height: 6em;
    border-radius: .7em;
    margin-right: 1.5em;
    grid-row: 1/4;
    grid-column: 1/2;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    cursor: pointer;

    & .color-info__color-change {
        border-radius: .5em 0 0 0;
    }
}

.color-info__button-add {
    @include std-button;
    width: 2em;
    height: 2em;
    justify-self: center;
    border-radius: 50%;
    background-color: #666666;
    margin-right: 1.5em;

    &:hover {
        background-color: #333333;
    }

    img {
        transition: transform .1s;
    }

    &:active {
        img {
            transform: scale(.8);
        }
    }
}

.color-info__switch-view {
    @include std-button;
    height: 2em;
    width: 2em;
    margin: 0 1em;
    flex-shrink: 0;
    border-radius: 50%;
    transition: transform ease .2s;

    &:hover {
        background-color: #e5e5e5;
    }

    &--full {
        transform: rotate(180deg);
    }
}

.color-info__color-fit {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1.5em;
    margin: 1em 0;
}

@mixin color-fit-wrapper {
    width: 3em;
    height: 2em;
    border-radius: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-fit-text__wrapper {
    @include color-fit-wrapper
}

.color-fit-border__wrapper {
    @include color-fit-wrapper
}

.color-fit-border__border {
    width: 1.5em;
    height: 1.5em;
    border-width: 1px;
    border-style: solid;
}

.color-bar__wrapper {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: .5em;
    justify-items: center;
}

.color-bar__color {
    width: 2em;
    height: 2em;
    grid-row-end: 1;
    cursor: pointer;
    border: none;

    &--selected {
        border: 1px solid #333333;
    }
}

.color-bar__label {
    grid-row-start: 1;
    font-size: .8em;

    &--selected {
        font-weight: bold;
    }
}

.color-selection__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #fcfcfc;
    height: 3em;
    font-size: 1em;
}

.color-selection__header {
    color: #666666;
    font-weight: 400;
    margin-right: .5em;
}

.color-selection__type-wrapper {
    position: relative;
}

@mixin color-selection-button {
    @include std-button;
    background-color: #ffffff;
    border-radius: .3em;
    height: 2em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);

    &:hover {
        background-color: #f0f0f0;
    }

    &:active {
        transform: scale(.9);
    }
}

.color-selection__type-button {
    @include color-selection-button;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    &--list {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.color-selection__list {
    position: absolute;
    top: 1em;
    right: 0;
    list-style: none;
    padding: 0;
    color: #666666;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);
}

.color-selection__list-item {
    background-color: #ffffff;

    &:hover {
        background-color: #f0f0f0;
    }
}

.color-selection__list-button {
    @include std-button;
    width: 10em;
    padding: .5em;
    display: flex;
    align-items: center;

    & img {
        margin-right: .8em;
    }
}

.color-selection__file-wrapper {
    @include color-selection-button;
    position: relative;
    overflow: hidden;
    margin-left: .7em;
    width: 2em;
    text-align: center;
}

.color-selection__file-label {
    color: #666666;
    display: block;
    position: relative;
    line-height: 1.5em;
    cursor: pointer;
}

.color-selection__file-input {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
}


.colors-scheme__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    --color-width: 4em;
    --spacer-width: 2em;
}

.colors-scheme-header__wrapper {
    display: flex;
    align-items: center;
    margin: .5em 0;
    background-color: #fcfcfc;
}

.colors-scheme-header__title {
    color: #666666;
    font-weight: 400;
    text-align: center;
    flex-grow: 1;
}

.colors-scheme-header__schemes-wrapper {
    position: relative;
}

.colors-scheme-header__button {
    @include std-button;
    background-color: #ffffff;
    border-radius: .3em;
    height: 2em;
    width: 2em;
    margin-left: 2em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);
    display: flex;
    justify-content: center;
    align-items: center;


    &--list {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:hover {
        background-color: #f0f0f0;
    }

    &:active {
        transform: scale(.9);
    }

    & img {
        width: 1.5em;
        height: 1.5em;
    }
}

.colors-scheme-header__list {
    z-index: 99;
    position: absolute;
    top: 1em;
    right: 0;
    list-style: none;
    padding: 0;
    color: #666666;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);
}

.colors-scheme-header__list-item {
    background-color: #ffffff;
    padding: .5em 1em;

    &--info {
        display: flex;
        align-items: center;
        white-space: nowrap;
        background-color: #fcfcfc;
        font-weight: bold;
    }

    &--selectable {
        cursor: pointer;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}

.colors-scheme-header__color-sample {
    width: 1.5em;
    height: 1.5em;
    border-radius: .3em;
    margin: 0 .3em;
}

.scheme-colors__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 1em 0 .5em 0;
}

.scheme-colors__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.scheme-colors__color-view {
    width: var(--color-width);
    height: 4em;
    border-radius: .3em;
    border: none;
    transition: transform ease .1s;
    cursor: grab;

    &--selected {
        transform: scale(1.1);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    }
}

.scheme-colors__item-info {
    color: #666666;
    font-size: .8em;
    margin: .3em 0;
}

.scheme-colors__color-spacer {
    height: 4em;
    width: .7em;

    &--wide {
        width: var(--spacer-width);
    }

    &--drag-over {
        background: repeating-linear-gradient(45deg, #dddddd, #dddddd .5em, #ffffff .5em, #ffffff 1em );
    }
}

.scheme-colors__remove-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--items-count)*var(--color-width) + (var(--items-count)+1)*var(--spacer-width));
    height: 3em;
    border-radius: .3em;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, .1);
    background: no-repeat center url(/assets/delete-icon.svg);

    &--drag-over {
        background: no-repeat center url(/assets/delete-icon.svg),repeating-linear-gradient(45deg, #dddddd, #dddddd .5em, #ffffff .5em, #ffffff 1em );
    }
}

.scheme-description__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.scheme-description__list-item {
    margin: .5em 0;
}

@mixin scheme-description-input-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    width: 18em;
    border: none;
    border-radius: .3em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);

    & span {
        width: 3em;
        margin-right: .5em;
        flex-grow: 1;
        text-align: right;
        color: #999999;
    }
}

.scheme-description__scheme-name {
    @include scheme-description-input-label;

    &.colors-scheme__input {
        font-weight: bold;
    }
}

.scheme-description__color-name {
    @include scheme-description-input-label;
}

.scheme-description__input {
    height: 1.7em;
    border: none;
    text-align: center;
    flex-grow: 1;
    border-radius: .3em;
}
