@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@mixin std-button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.button-copy__button {
    @include std-button;
    width: 3em;
    height: 1.5em;
    border-radius: 0 999px 999px 0;
    background-color: #E5E5E5;

    &:hover {
        background-color: #D3D3D3;
    }

    &:active {
        /* background-color: #F5F5F5;
        border: solid 1px #E5E5E5;*/
        .button-copy__icon {
            transform: scale(.8);
        }
    }
}

.button-copy__icon {
    vertical-align: middle;
    transition: transform .1s;
}

@mixin color-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin color-input-label {
    margin-right: .5em;
    justify-self: flex-end;
}

@mixin color-input-input {
    width: 3em;
    height: 1.5em;
    border: solid 1px #E5E5E5;
    text-align: center;

    &--no-side-border {
        border-left: none;
        border-right: none;
    }
}

.input-hex__wrapper {
    @include color-input-wrapper;
}

.input-hex__label {
    @include color-input-label;

    &--hidden {
        display: none;
    }
}

.input-hex__input {
    @include color-input-input;
    width: 6em;

    &--bold {
        font-weight: bold;
    }
}

.input-hsl__wrapper {
    @include color-input-wrapper;
}

.input-hsl__label {
    @include color-input-label;
}

.input-hsl__input {
    @include color-input-input;
}

.input-rgb__wrapper {
    @include color-input-wrapper;
}

.input-rgb__label {
    @include color-input-label;
}

.input-rgb__input {
    @include color-input-input;
}


.color-info__wrapper {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
}

.color-info__color-view {
    width: 6em;
    height: 2em;
    margin: 0 1em;
}

.color-info__button-add {
    @include std-button;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-left: 1.5em;
    background-color: #666666;

    &:hover {
        background-color: #333333;
    }

    img {
        transition: transform .1s;
    }

    &:active {
        img {
            transform: scale(.8);
        }
    }
}

.color-info__button-more {
    @include std-button;
    width: 1em;
    margin-right: 1.5em;
    justify-self: end;
}

.color-fit-text__wrapper {
    width: 3em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-fit-border__wrapper {
    width: 3em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-fit-border__border {
    width: 1.5em;
    height: 1.5em;
    border-width: 1px;
    border-style: solid;
}

.color-bar__wrapper {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: .5em;
}

.color-bar__color {
    width: 2em;
    height: 2em;
    grid-row-end: 1;
    cursor: pointer;
    border: none;

    &--selected {
        border: 1px solid #333333;
    }
}

.color-bar__label {
    grid-row-start: 1;

    &--selected {
        font-weight: bold;
    }
}
