@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'shared';

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    display: none;
    left: 0;
    padding: .6rem 1.25rem .7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;

    & .dismiss {
        cursor: pointer;
        position: absolute;
        right: .75rem;
        top: .5rem;
    }
}

.color-fit-text__wrapper {
    @include color-fit-wrapper
}

.color-fit-border__wrapper {
    @include color-fit-wrapper
}

.color-fit-border__border {
    width: 1.5em;
    height: 1.5em;
    border-width: 1px;
    border-style: solid;
}

.color-bar__wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: .5em;
    flex-wrap: wrap;
    margin: .5em 0;
}

.color-bar__color {
    width: 2em;
    height: 2em;
    grid-row-end: 1;
    cursor: pointer;
    border: none;

    &--selected {
        border: 1px solid #333333;
    }
}

.color-bar__label {
    grid-row-start: 1;
    font-size: .8em;
    text-align: center;

    &--selected {
        font-weight: bold;
    }
}

.color-selection__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-self: start;
}

.color-selection__type-wrapper {
    position: relative;
}

.color-selection__type-button {
    position: relative;
    @include color-selection-button;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    &--list {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 45;
    }

    &--file {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.color-selection__list {
    position: absolute;
    z-index: 45;
    top: 1em;
    left: 0;
    list-style: none;
    padding: 0;
    color: #666666;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .05);
}

.color-selection__list-item {
    background-color: #ffffff;

    &:hover {
        background-color: #f0f0f0;
    }
}

.color-selection__list-button {
    @include std-button;
    width: 10em;
    padding: .5em;
    display: flex;
    align-items: center;

    & img {
        margin-right: .8em;
    }
}

.color-selection__file-wrapper {
    @include color-selection-button;
    position: relative;
    overflow: hidden;
    width: 2em;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.color-selection__file-label {
    color: #666666;
    display: block;
    position: relative;
    line-height: 1.5em;
    cursor: pointer;
}

.color-selection__file-input {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
}

.color-selection__list-mask {
    z-index: 40;
    @include page-mask;
}

