.vs
bin
obj
/ColorBook/ColorBook/JsLib/node_modules
node_modules
/ColorBook/ColorBook/package-lock.json
/ColorBook/ColorBook/wwwroot/js
css
publish
/ColorBook/ColorBook/Properties/PublishProfiles/FolderProfile.pubxml.user
