.vs
.env
bin
obj
node_modules
/Client/ColorBook/JsLib/node_modules
/Client/ColorBook/package-lock.json
/Client/ColorBook/wwwroot/js
css
publish
*.user
/Client/ColorBook/wwwroot/appsettings.Production.json
