
<div class="color-info__wrapper">

    <button class="color-info__button-add">
        <img src="/assets/add-icon.svg" />
    </button>

    <div class="color-info__color-view" style="background-color: @ColorHex;"></div>

    <InputHex @bind-Value="ColorHex" IsLabelHidden="true" />

    <button class="color-info__button-more">
        <img src="/assets/dropdown-icon.svg" />
    </button>

</div>

@code {
    [Parameter]
    public string ColorHex { get; set; }
}
