
<div class="color-fit-text__wrapper" style="background-color: @BackgroundColor;  color: @TextColor">
    Abc
</div>

@code {
    [Parameter]
    public string BackgroundColor { get; set; }
    [Parameter]
    public string TextColor { get; set; }

}
