
<div class="color-fit-text__wrapper" style="@style">
    <svg viewBox="0 0 50 20">
        <text x="10" y="15">Abc</text>
    </svg>
</div>

@code {
    [Parameter]
    public string BackgroundColor { get; set; }
    [Parameter]
    public string TextColor { get; set; }

    string style => $"background-color: {BackgroundColor}; fill: {TextColor};";

}
