
<div class="color-info__wrapper">

    <img class="color-info__add"/>

    <div class="color-info__small-color"></div>

    <InputHex Value="#000000"/>

    <img class="color-info__more"/>

</div>

@code {

}
