
<div class="input-name__wrapper">

    <label class="input-name__label">Name:</label>

    <input @bind="@ColorName" class="input-name__input" disabled />

    <ButtonCopy Text="@ColorName" />

</div>


@code {
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private string ColorName
    {
        get => Value;
        set => Value = value;
    }
}
