@inject IJSRuntime JS

<div class="input-name__wrapper">

    <label class="input-name__label">
        <span>Name:</span>
        <input @bind="@colorName" class="input-name__input" disabled readonly />
    </label>

    <ButtonCopy Text="@colorName" />

</div>

@code {
    [Parameter]
    public string Value { get; set; }

    private string colorName = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        colorName = await JS.InvokeAsync<string>("ColorLib.getName", Value);
    }
}
