
<div class="scheme-footer__wrapper">

    <button class="scheme-footer__button" @onclick="SaveInLibrary">
        @if (isSchemeInLibrary)
        {
            <img src="/assets/library-save-icon.svg" />
            <span>Save</span>
        }
        else
        {
            <img src="/assets/library-add-icon.svg" />
            <span>Add to library</span>
        }
    </button>

    <a class="scheme-footer__button" download="@downloadName" href="@downloadData">
        <img src="/assets/download-icon.svg" />
        <span>Download JSON</span>
    </a>

</div>

@code {
    [Parameter]
    public ColorScheme Scheme { get; set; }

    string downloadName => $"{(string.IsNullOrWhiteSpace(Scheme.Name) ? "scheme" : Scheme.Name)}.json";
    string downloadData => $"data:application/json;charset=utf-8,{System.Text.Json.JsonSerializer.Serialize(Scheme)}";

    bool isSchemeInLibrary = false;

    void SaveInLibrary() => isSchemeInLibrary = !isSchemeInLibrary;

}
