
<div class="scheme-info__wrapper">

    @if (Scheme == null)
    {
        <div>
            Loading...
        </div>
    }
    else
    {
        <SchemeHeader ColorHex="@(Scheme.GetColor(0).ColorHex)" AddGeneratedColors="AddGeneratedColors" ClearSchemeColors="ClearSchemeColors" />

        <SchemeColors Scheme="Scheme" @bind-SelectedIndex="SelectedIndex" />

        <SchemeDescription Scheme="Scheme" @bind-SelectedIndex="SelectedIndex" />

        <SchemeFooter Scheme="Scheme" />
    }

</div>

@code {
    [Parameter]
    public ColorScheme Scheme { get; set; }
    [Parameter]
    public EventCallback<string> OnColorSelect { get; set; }

    int? selectedIndex = null;
    int? SelectedIndex
    {
        get => selectedIndex;
        set
        {
            if (value.HasValue && selectedIndex != value)
                OnColorSelect.InvokeAsync(Scheme.GetColor(value.Value).ColorHex);
            selectedIndex = value;
        }
    }



    void AddGeneratedColors(string[] newColors)
    {
        var namedColors = newColors.Select(r => new NamedColor(r));

        Scheme.RemoveColor(0);
        Scheme.InsertColors(0, namedColors);
    }

    void ClearSchemeColors()
    {
        Scheme.Colors = new List<NamedColor> { Scheme.GetColor(0) };
    }

}
