
<div class="@cssWrapper">

    <div class="side-bar__header">

        <img class="side-bar__logo" src="/assets/logo-icon.svg" />

        <h3 class="side-bar__title">ColorBook</h3>

        @if (isCollapsed)
        {
            <button class="side-bar__menu-button" @onclick="()=>isCollapsed = false">
                <img src="/assets/menu-icon.svg" />
            </button>
        }
        else
        {
            <button class="side-bar__close-button" @onclick="()=>isCollapsed = true">
                <SvgIcon SvgUrl="/assets/close-icon.svg" />
            </button>
        }
    </div>

    @if (!isCollapsed)
    {
        <nav class="side-bar__nav">
            <ul class="side-bar__list">

                <li class="side-bar__list-item side-bar__list-item--action">
                    <img src="/assets/create-scheme-icon.svg" title="create scheme" />
                    Create scheme
                </li>

                <li class="side-bar__list-item">
                    <img src="/assets/load-scheme-icon.svg" title="load scheme" />
                    Load scheme
                    <div class="side-bar__down-icon">
                        <SvgIcon SvgUrl="/assets/dropdown-icon.svg" />
                    </div>
                    <ul class="side-bar__sublist">
                        <li class="side-bar__sublist-item">
                            from file...
                        </li>
                        <li class="side-bar__sublist-item" @onclick="()=>isLibraryCollapsed=!isLibraryCollapsed">
                            from library
                            <div class="@cssLibraryIcon">
                                <SvgIcon SvgUrl="/assets/dropdown-icon.svg" />
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="side-bar__list-item side-bar__list-item--blank"></li>

                <li class="side-bar__list-item side-bar__list-item--action" @onclick="()=>isSettingsCollapsed=!isSettingsCollapsed">
                    <img src="/assets/settings-icon.svg" />
                    Settings
                    <div class="@cssSettingsIcon">
                        <SvgIcon SvgUrl="/assets/dropdown-icon.svg" />
                    </div>
                </li>

            </ul>
        </nav>
    }


</div>

@code {

    bool isCollapsed = true;
    string cssWrapper => isCollapsed ? "side-bar__wrapper side-bar__wrapper--collapsed" : "side-bar__wrapper";

    bool isLibraryCollapsed = true;
    string cssLibraryIcon => isLibraryCollapsed ? "side-bar__right-icon" : "side-bar__right-icon side-bar__right-icon--opened";

    bool isSettingsCollapsed = true;
    string cssSettingsIcon => isSettingsCollapsed ? "side-bar__right-icon" : "side-bar__right-icon side-bar__right-icon--opened";
}
