@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'shared';

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fafafa;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    display: none;
    left: 0;
    padding: .6rem 1.25rem .7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;

    & .dismiss {
        cursor: pointer;
        position: absolute;
        right: .75rem;
        top: .5rem;
    }
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding: 1em;
    background-color: #ffffff;


    @media (max-device-width: $breakpoint-width) {
        padding: 1em 0;
    }
}
