
<div class="color-fit-border__wrapper" style="@styleWrapper">
    <div class="color-fit-border__border" style="@styleBorder"></div>
</div>

@code {
    [Parameter]
    public string BackgroundColor { get; set; }
    [Parameter]
    public string BorderColor { get; set; }

    string styleWrapper => $"background-color: {BackgroundColor};";
    string styleBorder => $"border-color: {BorderColor};";
}
