@page "/"
@inject ISchemeService schemeService;

<SideBar CurrentScheme="colorScheme" OnSchemeLoad="SetScheme" />

<main class="main__wrapper">


    <ColorInfo @bind-ColorHex="ColorHex" />

    <SchemeInfo Scheme="colorScheme" @bind-SelectedColor="ColorHex" />

</main>

@code {
    ColorScheme colorScheme;

    string ColorHex { get; set; }

    protected override void OnInitialized()
    {
        colorScheme = GetColorScheme();
        //colorScheme = schemeService.GetEmptyScheme();
    }


    void SetScheme(ColorScheme scheme)
    {
        ColorHex = null;
        colorScheme = scheme;
    }

    void AddColor(string colorHex)
    {
        colorScheme.AddColor(colorHex);
    }


    private ColorScheme GetColorScheme()
    {
        return new ColorScheme
        {
            Id = Guid.NewGuid(),
            Name = "Example",
            Colors = new List<NamedColor>
{
                new NamedColor("blue-2","#263540"),
                new NamedColor("blue-5","#60879F"),
                new NamedColor("blue-7","#9FB6C6"),
                new NamedColor("blue-9","#DCE4EA"),
                new NamedColor("green-2","#335214"),
                new NamedColor("green-5","#80CC33"),
                new NamedColor("green-9","#E5F5D6"),
            }
        };
    }
}