@page "/"
@inject ISchemeService schemeService;

<SideBar CurrentScheme="colorScheme" OnSchemeLoad="SetScheme" />

<main class="main__wrapper">


    <ColorInfo @bind-ColorHex="ColorHex" />

    <SchemeInfo Scheme="colorScheme" @bind-SelectedColor="ColorHex" />

</main>

@code {
    ColorScheme colorScheme;

    string ColorHex { get; set; }

    protected override void OnInitialized()
    {
        colorScheme = GetColorScheme();
        //colorScheme = schemeService.GetEmptyScheme();
    }


    void SetScheme(ColorScheme scheme)
    {
        ColorHex = null;
        colorScheme = scheme;
    }

    void AddColor(string colorHex)
    {
        colorScheme.AddColor(colorHex);
    }


    private ColorScheme GetColorScheme()
    {
        return new ColorScheme
        {
            Id = Guid.NewGuid(),
            Name = string.Empty,
            Colors = new List<NamedColor>
{
                new NamedColor("#123456"),
                new NamedColor("#4DEA26"),
                new NamedColor("#AABBCC"),
                new NamedColor("#DDEEFF"),
                new NamedColor("#998877")
            }
        };
    }
}