@page "/"
@inject IJSRuntime JS
@using System
@inject ISettingsService settingsService
@inject ISchemeService schemeService;

<main class="main__wrapper">

    <SideBar SchemeLoaded="SetScheme" />

    <ColorSelection />

    <ColorInfo ColorHex="@colorHex" />

    <SchemeInfo Scheme="colorScheme" />

</main>

@code {
    ColorScheme colorScheme;

    string colorHex { get; set; } = "#ff00ff";



    protected override async Task OnInitializedAsync()
    {
        colorScheme = GetColorScheme();
    }


    void SetScheme(ColorScheme scheme)
    {
        colorScheme = scheme;
    }

    private ColorScheme GetColorScheme()
    {
        return new ColorScheme
        {
            Id = Guid.NewGuid(),
            Name = string.Empty,
            Colors = new List<NamedColor>
{
                new NamedColor("#123456"),
                new NamedColor("#4DEA26"),
                new NamedColor("#AABBCC"),
                new NamedColor("#DDEEFF"),
                new NamedColor("#998877")
            }
        };
    }
}